src/main/app/order-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:edifact-edi="http://www.mulesoft.org/schema/mule/edifact-edi" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:weave="http://www.mulesoft.org/schema/mule/ee/weave" xmlns:x12-edi="http://www.mulesoft.org/schema/mule/x12-edi" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:edi="http://www.mulesoft.org/schema/mule/edi" xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis" xmlns:magento="http://www.mulesoft.org/schema/mule/magento" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:odata="http://www.mulesoft.org/schema/mule/odata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/odata http://www.mulesoft.org/schema/mule/odata/current/mule-odata.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/current/mule-magento.xsd
http://www.mulesoft.org/schema/mule/edi http://www.mulesoft.org/schema/mule/edi/current/mule-edi.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/x12-edi http://www.mulesoft.org/schema/mule/x12-edi/current/mule-x12-edi.xsd
http://www.mulesoft.org/schema/mule/ee/weave http://www.mulesoft.org/schema/mule/ee/weave/current/weave.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/edifact-edi http://www.mulesoft.org/schema/mule/edifact-edi/current/mule-edifact-edi.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <context:property-placeholder location="classpath:conf.properties" />
    
    <x12-edi:config name="Walmart" doc:name="EDI" groupIdSelf="RECEIVER" interchangeIdQualifierSelf="ZZ" 
    interchangeIdSelf="RECEIVER" groupIdPartner="SENDER" interchangeIdPartner="SENDER" interchangeIdQualifierPartner="ZZ" >
        <x12-edi:schemas>
            <x12-edi:schema>/x12/004010/855.esl</x12-edi:schema>
        </x12-edi:schemas>
    </x12-edi:config>
    
    <flow name="ReceiveOrdersFromPartner" >
        <file:inbound-endpoint path="input/850" moveToPattern="850.edi" moveToDirectory="processed/850" responseTimeout="10000" doc:name="File"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.senderId = 'ZZ';
flowVars.receiverId = 'ZZ';
flowVars.senderName = 'SENDER';
flowVars.receiverName = 'RECIEVER';
]]></expression-component>
        <flow-ref name="ProcessDocument" doc:name="ProcessDocument"/>
    </flow>
    <flow name="ReceiveAcksFromPartner">
        <file:inbound-endpoint path="input/855" moveToPattern="855.edi" moveToDirectory="processed/855" responseTimeout="10000" doc:name="File"/>
        <flow-ref name="ProcessDocument" doc:name="ProcessDocument"/>
    </flow>
    <sub-flow name="ProcessDocument" doc:description="/x12/005010/850.esl
/x12/004010/855.esl">
        <x12-edi:read config-ref="Walmart" doc:name="Read EDI Doc"/>
        <choice doc:name="Choice">
            <when expression="payload.TransactionSets.v005010 != null">
                <enricher target="flowVars.batchResult" doc:name="850 Message Enricher">
                    <batch:execute name="Process850s" doc:name="Process850s"/>
                </enricher>
            </when>
            <otherwise>
                <enricher target="flowVars.batchResult" doc:name="855 Message Enricher">
                    <batch:execute name="Process855s" doc:name="Process855s"/>
                </enricher>
            </otherwise>
        </choice>
        <flow-ref name="SendAck" doc:name="SendAck"/>
    </sub-flow>
    
    <batch:job name="Process850s">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <set-payload value="#[payload.TransactionSets.v005010['850']]" doc:name="Extract 850s"/>
        </batch:input>
        <batch:process-records> 
            <batch:step name="Step850">
                <logger message="PO Details: #[payload]" level="INFO" doc:name="Logger"/>
                   <dw:transform-message doc:name="850Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload.Detail."0100_PO1_Loop" map {
	OrderId: $.'0100_PO1'.PO101,
	Amount: $.'0100_PO1'.PO104 * $.'0100_PO1'.PO102
}]]></dw:set-payload>
                    </dw:transform-message>
                    <file:outbound-endpoint path="output/850" outputPattern="export.csv" responseTimeout="10000" metadata:id="cae3a9fd-cc32-437d-a1fb-119410558134" doc:name="850File"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="Processed purchase orders." level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>
    <batch:job name="Process855s">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <set-payload value="#[payload.TransactionSets.v004010['855']]" doc:name="Set Payload"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step">
                <logger message="ACK Details: #[payload]" level="INFO" doc:name="Logger"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="Processed acknowledgement of purchase orders." level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>
    <flow name="SendAck"  processingStrategy="asynchronous">
        <set-payload value="#[ ['TransactionSets' : ['v5010' : ['997' : payload.FunctionalAcksGenerated] ] ] ]" doc:name="Create EDI Message"/>
        <x12-edi:write config-ref="Walmart" doc:name="Send 997"/>
        <file:outbound-endpoint path="output/850" outputPattern="ack.edi" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
